
img.repimg {
    margin-left: -1px;
}

img.repimg.erdstar {
    padding-right: 5px;
}

img.repimg.erdpostbit {
    margin-bottom: 5px;
}

img.repimg.erdmember {
    margin-top: 5px;
}

